.address {
  margin-right: 70px;
  width: 231px;
  flex-shrink: 0;
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__post {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--additional-accent-color);
  }
  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--mailto-tel-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
